HELP.md
**/target/
**/build/
**/dist/
**/docs/
!docs/
!docs/*.md
**/node_modules/
*.tsbuildinfo
.playwright-cli/

### IDEs ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
.idea/
.vscode/
*.iws
*.iml
*.ipr
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### Local environment ###
.env
*.env
*.env.local
*.env.*.local
!.env.example
